<!--Category Table -->
<h4 class="table-title">Categories:</h4>
<div class="table-responsive" style="max-height: 500px;">
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Category Name</th>
                <th>No. of Services</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% if categories | length == 0 %}
                <tr class="table-warning">
                    <td colspan="4" class="text-center fw-semibold">No Categories available</td>
                </tr>
            {%endif%}
            {% for category in categories%}
                <tr>
                    <td>{{loop.index}}</td>
                    <td>{{category.name}}</td>
                    <td>{{category.services | length }}</td>
                    <td>
                        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#categoryEditModal" data-id={{category.id}} data-name={{category.name}}>
                            Edit
                        </button>
                        <a href={{url_for('deleteCategory', categoryId = category.id )}} type="button" class="btn btn-danger btn-sm">Delete</a>
                    </td>
                </tr>
            {%endfor%}
        </tbody>
    </table>
</div>
<!-- Edit category Modal-->
<div class="modal fade" id="categoryEditModal" tabindex="-1" role="dialog" aria-labelledby="categoryEditModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="categoryEditModal">Edit Category</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action={{url_for('editCategory')}} method="post">
                    <div class="form-group">
                        <label for="categoryName" class="col-form-label">Category Name:</label>
                        <input type="text" class="form-control" id="categoryName" name="categoryName" required>
                    </div>
                    <input type="text" class="form-control" id="categoryId" name ="categoryId" hidden>
                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-success btn-sm mt-4 col-3 justify-content-center" style="border-radius: 20px;">Edit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<p class="text-right"><button class="btn btn-outline-success" data-toggle="modal" data-target="#newCategoryModal">+ New Category</button></p>

<!-- New category Modal-->
<div class="modal fade" id="newCategoryModal" tabindex="-1" role="dialog" aria-labelledby="newCategoryModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="newCategoryModal">Add New Category</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action={{url_for('addNewCategory')}} method="post">
                    <div class="form-group">
                        <label for="categoryName" class="col-form-label">Category Name:</label>
                        <input type="text" class="form-control" id="categoryName" name = "categoryName" required>
                    </div>
                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-success btn-sm mt-4 col-3 justify-content-center" style="border-radius: 20px;">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Services Table -->
<h4 class="table-title">Services:</h4>
<div class="table-responsive" style="max-height: 500px;">
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Service Name</th>
                <th>Category</th>
                <th>Base Price</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        {% if services | length == 0 %}
        <tr class="table-warning">
            <td colspan="5" class="text-center fw-semibold">No services available</td>
        </tr>
        {%endif%}
        {% for service in services %}
            <tr>
                <td>{{loop.index}}</td>
                <td>{{service.name}}</td>
                <td>{{service.category.name}}</td>
                <td>{{service.basePrice}}</td>
                <td>
                    <button class="btn btn-primary btn-sm"  data-toggle="modal" data-target="#serviceEditModal"
                                        data-id={{service.id}} data-name="{{service.name}}" data-description="{{service.description}}" 
                                                    data-categoryid = {{service.categoryId}} data-baseprice={{service.basePrice}}>
                        Edit
                    </button>
                    <a href={{url_for('deleteService', serviceId = service.id)}} type="button" class="btn btn-danger btn-sm">Delete</a>
                </td>
            </tr>
        {%endfor%}
        </tbody>
    </table>
</div>

<!-- Edit Service Modal-->
<div class="modal fade" id="serviceEditModal" tabindex="-1" role="dialog" aria-labelledby="serviceEditModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="serviceEditModal">Edit Service</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action={{url_for('editService')}} method="post">
                    <div class="form-group">
                        <label for="serviceName" class="col-form-label">Service Name<span class="text-danger">*</span>:</label>
                        <input type="text" class="form-control" id="serviceName" name="serviceName" placeholder="Enter the name of service" required>
                    </div>
                    <div class="form-group">
                        <label for="categoryId">Category Type: <span class="text-danger">*</span></label>
                        <select class="form-control" name="categoryId" id="categoryId" name="categoryId" required>
                            <option value="" disabled selected>Select the category of service..</option>        
                            {%for category in categories%}
                            <option value="{{category.id}}">{{category.name}}</option>
                            {%endfor%}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="description">Description <span class="text-danger">*</span></label>
                        <textarea name="description" class="form-control" id="description" rows="3" placeholder="What will this service provide.." required></textarea>
                    </div>
                    <div class="form-group">
                        <label for="basePrice">Base Price <span class="text-danger">*</span></label>
                        <input type="number" name="basePrice" class="form-control" id="basePrice" name="basePrice" min="0" placeholder="Enter base price for the service" required>
                    </div>
                    <input name="serviceId" class="form-control" id="serviceId" name="serviceId" required hidden>
                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-success btn-sm mt-4 col-3 justify-content-center" style="border-radius: 20px;">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<p class="text-right"><button class="btn btn-outline-success" data-toggle="modal" data-target="#newServiceModal">+ New Services</button></p>

<!--New Service Modal -->
<div class="modal fade" id="newServiceModal" tabindex="-1" role="dialog" aria-labelledby="newServiceModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="newServiceModal">Edit Service</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action={{url_for('addNewService')}} method="post">
                    <div class="form-group">
                        <label for="serviceName" class="col-form-label">Service Name<span class="text-danger">*</span>:</label>
                        <input type="text" class="form-control" id="serviceName" name="serviceName" placeholder="Enter the name of service" required>
                    </div>
                    <div class="form-group">
                        <label for="categoryId">Category Type: <span class="text-danger">*</span></label>
                        <select class="form-control" name="categoryId" id="categoryId" name="categoryId" required>
                            <option value="" disabled selected>Select the category of service..</option>        
                            {%for category in categories%}
                            <option value="{{category.id}}">{{category.name}}</option>
                            {%endfor%}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="description">Description <span class="text-danger">*</span></label>
                        <textarea name="description" class="form-control" id="description" rows="3" placeholder="What will this service provide.." required></textarea>
                    </div>
                    <div class="form-group">
                        <label for="basePrice">Base Price <span class="text-danger">*</span></label>
                        <input type="number" name="basePrice" class="form-control" id="basePrice" name="basePrice" min="0" placeholder="Enter base price for the service" required>
                    </div>
                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-success btn-sm mt-4 col-3 justify-content-center" style="border-radius: 20px;">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Professionals Table -->
<h4 class="table-title">Professionals:</h4>
<div class="table-responsive" style="max-height: 500px;">
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Experience</th>
                <th>Resume</th>
                <th>Service Name</th>
                <th>Incentive</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% if professionals | length == 0 %}
            <tr class="table-warning">
                <td colspan="8" class="text-center fw-semibold">No professionals available</td>
            </tr>
            {%endif%}
            {%for professional in professionals %}
            <tr class="table-{% if professional.is_blocked or professional.is_rejected %}danger{%elif not professional.is_approved or not professional.is_serviceAvailable %}warning{%else%}success{%endif%}">
                <td>{{loop.index}}</td>
                <td>{{ professional.fname | capitalize ~ " " ~ professional.lname | capitalize }}</td>
                <td>{{professional.experience}}</td>
                <td><a href="{{professional.resumePath}}" class="btn btn-sm btn-outline-info" target="_blank">view resume</a></td>
                <td>{{professional.service.name}}</td>
                <td>{{professional.incentive}}&#8377;</td>
                <td>
                    <span class="mt-1 badge badge-{% if professional.is_blocked or professional.is_rejected %}danger{%elif not professional.is_approved or not professional.is_serviceAvailable %}warning{%else%}success{%endif%}">
                        {% if professional.is_blocked %}Blocked{%elif professional.is_rejected %}Rejected{%elif not professional.is_serviceAvailable %}Service Unavailable{%elif professional.is_approved %}Approved{%else%}Pending{%endif%}
                    </span>
                </td>
                <td>
                    {% if professional.is_blocked %}
                        <a href={{url_for('updateProfessionalBlock', professionalId = professional.id)}} type="button" class="btn btn-success btn-sm">UnBlock</a>
                    {%elif professional.is_rejected %}
                        <a href={{url_for('updateProfessionalApproved',  professionalId = professional.id)}} type="button" class="btn btn-success btn-sm">Accept</a>
                    {%elif professional.is_approved %}
                        <a href={{url_for('updateProfessionalBlock', professionalId = professional.id)}} type="button" class="btn btn-success btn-sm">Block</a>
                    {%else%}
                        <a href={{url_for('updateProfessionalApproved',  professionalId = professional.id)}} type="button" class="btn btn-success btn-sm">Accept</a>
                        <a href={{url_for('updateProfessionalReject',  professionalId = professional.id)}} type="button" class="btn btn-danger btn-sm">Reject</a>
                    {%endif%}
                    {%if professional.is_approved or professional.is_rejected %}
                        <a href={{url_for('deleteProfessional',  professionalId = professional.id)}} type="button" class="btn btn-danger btn-sm">Delete</a>
                    {%endif%}
                </td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
</div>


<!-- Customer Table -->
<h4 class="table-title">Customer:</h4>
<div class="table-responsive" style="max-height: 500px;">
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Address</th>
                <th>Moile No.</th>
                <th>Pin Code</th>
                <th>No. of Service Requests</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% if customers | length == 0 %}
            <tr class="table-warning">
                <td colspan="8" class="text-center fw-semibold">No professionals available</td>
            </tr>
            {%endif%}
            {%for customer in customers %}
            <tr class="table-{% if customer.is_blocked%}danger{%else%}success{%endif%}">
                <td>{{loop.index}}</td>
                <td>{{ customer.fname | capitalize ~ " " ~ customer.lname | capitalize }}</td>
                <td>{{customer.address}}</td>
                <td>{{customer.mobileNo}}</td>
                <td>{{customer.pinCode}}</td>
                <td>{{customer.serviceHistoryList | length}}</td>
                <td>
                    {% if customer.is_blocked %}
                        <a href={{url_for('updateCustomerBlock', customerId = customer.id)}} type="button" class="btn btn-success btn-sm">UnBlock</a>
                    {%else%}
                        <a href={{url_for('updateCustomerBlock', customerId = customer.id)}} type="button" class="btn btn-success btn-sm">Block</a>
                    {%endif%}
                    <a href={{url_for('deleteCustomer',  customerId = customer.id)}} type="button" class="btn btn-danger btn-sm">Delete</a>
                    
                </td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
</div>


<!-- Admin Services History table -->
<h4 class="table-title">Service Requests History:</h4>
<div class="table-responsive" style="max-height: 500px;">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>#</th>
                <th>Customer Name</th>
                <th>Professional Name</th>
                <th>Service Name</th>
                <th>Date requested</th>
                <th>Date Completed</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% if serviceRequests | length == 0 %}
            <tr class = "table-warning">
                <td colspan="8" class="text-center fw-semibold">No available service History</td>
            </tr>
            {%endif%}
            {% for serviceHistory in serviceRequests %}
                <tr class="{% if serviceHistory.status == 0 %}table-active
                            {% elif serviceHistory.status == 1 %}table-primary
                            {% elif serviceHistory.status == 2 %}table-info
                            {% elif serviceHistory.status == 3 %}table-success
                            {% else %}table-danger
                            {% endif %}">
                    <th scope="row">{{ loop.index }}</th>
                    <td>
                        {% if serviceHistory.customer %}
                            {{ serviceHistory.customer.fname ~ " " ~ serviceHistory.customer.lname }} 
                        {% else %}
                            --
                        {% endif %}
                    </td>
                    <td>
                        {% if serviceHistory.status != 0 and serviceHistory.professional %}
                            {{ serviceHistory.professional.fname ~ " " ~ serviceHistory.professional.lname }}
                        {%elif serviceHistory.is_requested %}
                            {{ serviceHistory.professional.fname ~ " " ~ serviceHistory.professional.lname }}   
                        {% else %}
                            --
                        {% endif %}
                    </td>
                    <td>{{ serviceHistory.service.name }}</td>
                    <td>{{ serviceHistory.dateRequested }}</td>
                    <td>
                        {% if serviceHistory.status == 2 or serviceHistory.status == 3 %}
                            {{ serviceHistory.dateCompleted }}
                        {% else %}
                            --
                        {% endif %}
                    </td>
                    <td>
                        <span class="badge {% if serviceHistory.status == 0 %}badge-warning
                                    {% elif serviceHistory.status == 1 %}badge-primary
                                    {% elif serviceHistory.status == 2 %}badge-info
                                    {% elif serviceHistory.status == 3 %}badge-success
                                    {% else %}badge-danger
                                    {% endif %}">
                            {% if serviceHistory.status == 0 %}Pending
                            {% elif serviceHistory.status == 1 %}Accepted
                            {% elif serviceHistory.status == 2 %}Completed
                            {% elif serviceHistory.status == 3 %}Closed
                            {% else %}Rejected
                            {% endif %}
                        </span>
                    </td>
                    <td>
                        <a href={{url_for('viewServiceRequest', serviceRequestId = serviceHistory.id)}} class="btn btn-success btn-sm">View</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>