
{% extends 'base.html' %}

{%block title %} Registration {% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="../static/css/registration.css">
{% endblock %}

{% block content %} 
{% include 'nav.html'%}
    <div class="container reg">
        <div class="row justify-content-center mt-3">
            <div class="col-md-8">
                <h2 class="text-center font-weight-bold">Sign Up to book service</h2>
                <form class="mt-4">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="firstName">First Name</label>
                            <input type="text" class="form-control" id="firstName" placeholder="Enter your First Name">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="lastName">Last Name</label>
                            <input type="text" class="form-control" id="lastName" placeholder="Enter your Last Name">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="email">Email <span class="text-danger">*</span></label>
                        <input type="email" class="form-control" id="email" placeholder="Enter your email">
                    </div>

                    <div class="form-group">
                        <label for="password">Password <span class="text-danger">*</span></label>
                        <input type="password" class="form-control" id="password" placeholder="Enter your password">
                    </div>

                    <div class="form-group">
                        <label for="address">Address</label>
                        <textarea class="form-control" id="address" rows="3" placeholder="Enter your address"></textarea>
                    </div>

                    <div class="form-group">
                        <label for="mobile">Mobile Number</label>
                        <input type="tel" class="form-control" id="mobile" placeholder="Enter your mobile number">
                    </div>

                    <div class="form-group">
                        <label for="pincode">Enter Pin Code:</label>
                        <input type="text" id="pincode" class="form-control" name="pincode" pattern="\d{6}" maxlength="6" title="Please enter a valid 6-digit pin code" placeholder="Enter your pincode" required>
                    </div>

                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-success btn-lg mt-4 col-3 justify-content-center" style="border-radius: 20px;">Sign Up</button>
                    </div>
                </form>
                <div class="text-center mt-3">
                    <p>Already have an account? <a href={{url_for('login')}} class="text-success"><strong>Log In</strong></a></p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}