
{%extends 'base.html'%}
{%block title%}
Search
{%endblock%}
{%block extra_css%} 
<link rel="stylesheet" href="../static/css/dashboard.css">
{% endblock%}

{%block content%}
{% include 'nav.html'%}

    <div class="container dashboard-content mt-5">
        {%include 'messages.html'%}
        <h2>Search Results for:'{{searchOption}}' : '{{searchText}}'</h2>
        {% if user.role == 'admin' %}
        {%include 'adminSearchResults.html'%}
        {% elif user.role == 'professional' %}
        {%include 'professionalSearchResults.html'%}
        {%elif user.role == 'client' %}
        {%include 'customerSearchResults.html'%}
        {%endif%}
    </div>
{% endblock %}
{%block extra_js%} 
    <script src="{{url_for('static', filename= 'js/search.js')}}"></script>
{% endblock%}