
{%extends 'base.html'%}
{%block title%}
Services
{%endblock%}
{%block extra_css%} 
<link rel="stylesheet" href="../static/css/services.css">
{% endblock%}

{%block content%}
{% include 'nav.html'%}
{%include 'messages.html'%}
<div class="container mt-5">
    <h2 class="text-center mb-4 service">Our Services</h2>
    <div class="row d-flex justify-content-around">
        {% for service in services%}
      <div class="col-md-4 mb-4">
        <div class="service-card text-center">
          <h5 class="service-title">{{service.name}}</h5>
          <p class="service-description">{{service.description}}</p>
          <p class="service-price">Base Price: &#8377;{{service.basePrice}}</p>
          <p class="professionalNo">No. of Professionals:
            {% if service.professionals and service.id in serviceCounts %}
              {{serviceCounts[service.id]}}
            {%else%}
            0
            {%endif%}
          </p>
          <a href={{url_for('bookService', serviceId = service.id)}} class="btn btn-success">Book Now</a>
        </div>
      </div>
      {% endfor %}
      {%if not services or services | length == 0 %}
      <div class="d-flex justify-content-center align-items-center w-100">
        <div class="alert alert-warning text-center" role="alert">
            No services available at this moment!
        </div>
    </div>
      {%endif%}
    </div>
</div>
{% endblock%}