.table-title {
    font-weight: bold;
    margin-top: 20px;
}

.action-icon {
    cursor: pointer;
}

.btn-add {
    color: green;
    font-size: 18px;
}

.btn-trash {
    color: red;
    font-size: 18px;
}

.dashboard-content {
    padding-top: 5px;
}


